# /etc/systemd/system/bot.service

[Unit]
Description=Systemd instance of HUULK BOT

[Service]
Type=simple
User=bot
Group=bot
WorkingDirectory={{ bot_home }}/current/
Restart=no
ExecStart={{ bot_home }}/current/bin/python3.6 {{ bot_home }}/current/run.py

[Install]
WantedBy=multi-user.target